{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", {"code": 200}],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "no-return-assign": ["off"],
    "object-curly-spacing": ["error", "always"],
    "no-extra-parens": "error",
    "no-multi-spaces": "error"
  }
}
